# Top most EditorConfig file
root = true

# Unix-style newlines with a newline ending in every file
# and remove any trailing whitespaces
[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# Use tab to indent qsrc code
[*.qsrc]
indent_style = tab
indent_size = 4
