images/
sound/
music/
mod/
.*
*.qsp
*.sav
qqsp.ini
glife.txt
qgen.cfg
qspgui.cfg
avatar.*
*.jpg
*.jpeg
*.sublime-*
*.rar
*.zip
VideoDecodeStats/

glmf.code-workspace

Music Life Wiki/

images.zip

*.png

# ignore Visual Studio build files
/tools/qsp-analyser/QSP_Analyser/[Bb]in/
/tools/qsp-analyser/QSP_Analyser/[Oo]bj/

# don't ignore this file
!.gitignore

# do NOT ignore editorconfig
!.editorconfig
