images/
sound/
music/
mod/
.*
*.bak
*.qsp
*.sav
*.ini
glife.txt
qgen.cfg
qspgui.cfg
avatar.*
*.jpg
*.jpeg
*.sublime-*
*.rar
*.zip
VideoDecodeStats/
tools/*.AppImage
lbuild.sh

glmf.code-workspace

Music Life Wiki/

images.zip

*.png

# ignore Visual Studio build files
/tools/qsp-analyser/QSP_Analyser/[Bb]in/
/tools/qsp-analyser/QSP_Analyser/[Oo]bj/

# don't ignore this file
!.gitignore

# do NOT ignore editorconfig
!.editorconfig

MakeQSP.bat
/glife.iml
/Qqsp-1.9.0-win64/
glife.7z.tmp
glife.7z

*.test
